body {
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(200, 42, 51);
  background-color: rgb(255, 235, 202);
  animation-duration: 4s;
  animation-name: fadein;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
  font-size: 2.1em;
  margin: 0.5em auto;
}

h2 {
  /* text-shadow: 1px 1px rgba(59, 113, 64, 0.2);  */
  color: rgb(84, 209, 155);
  margin: 0.4em auto;
  font-size: 1.8em;
}

.skillList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skill {
  text-align: center;
}

.projectName {
  text-decoration: none;
}

.projectDescription {
  margin: 0.5em auto;
}

.projectItem {
  margin: 1em 0;
}

.projectList {
  margin: 1em;
}

.githubLink {
  color: #a0a0a0;
  font-family: 'Inconsolata', monospace;
  font-size: 1.1em;
  transition: color 0.5s;
}

.githubLink:hover {
  color: #d2d2d2;
}

h3 {
  color: rgb(64,80,58);
}

p {
  color: rgb(66, 113, 49);
  font-size: 1.05em;
}


.App {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 2.5em;
}

.name {
  font-size: 3em;
}

a > h2 {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

a > h2:hover {
  color: rgb(101, 255, 188);
  /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); */
}
