body {
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(200, 42, 51);
  background-color: rgb(255, 232, 194);
  animation-duration: 4s;
  animation-name: fadein;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
  font-size: 2.1em;
  margin: 0.5em auto;
}

h2 {
  /* text-shadow: 1px 1px rgba(59, 113, 64, 0.2);  */
  color: rgb(84, 209, 155);
  margin: 0.4em auto;
  font-size: 1.8em;
}

.skillList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skill {
  text-align: center;
}

.projectName {
  text-decoration: none;
}

.projectDescription {
  margin: 0.5em auto;
}

.projectItem {
  margin: 1em 0;
}

.githubLink {
  color: #a0a0a0;
  font-family: 'Inconsolata', monospace;
  font-size: 1.1em;
}

h3 {
  color: rgb(64,80,58);
}

p {
  color: rgb(64,80,58);
  font-size: 1.05em;
}


.App {
  max-width: 950px;
  margin: 0 auto;
  padding: 1.5em;
}

.name {
  font-size: 3em;
}

div > a > img {
  width: 20px;
}